<% @opinion.each do |opinion| %>
<session class='m-4'>
  <div class="container">
    <%= opinion.text %>
  </div>
  <div class='container'>
    Posted By: <%= opinion.user.username %>
  </div>
</session>
<% end %>
