@import "bootstrap";

$color-primary: #242C47 ;
$color-primary-border: #1E263B;
$color-secondary: #1F3140 ;
$color-accent: #FF2B9D;
$color-accent-border: #C4213D ;
$color-text: #FFFFFF;
$color-hover: #52FFC2;
$color-background-light: #6BA7D2;
$color-background-dark: #6094B2 ;

body{
  background-image: linear-gradient($color-background-light, $color-background-dark) ;
}

.border-p {
  border: solid $color-primary-border 2px;
}

.warning {
  color: red;
  background-color: rgb(255,200,200) ;
  border: solid red 2px;
  border-radius: 10px;
  padding: 5px;
  width: 50%;
  text-align: center;
  min-width: 192px;
}

.logotype {
  font-family: 'Merienda One', cursive;
  font-size: 36px;
  transition: 0.2s;
  &:hover{
    transition: 0.2s;
    transform: scale(1.1);
    text-shadow: 0 0 5px rgba(255,255,255,1);
  }
}

.right-side-panel {
  background-color: whitesmoke ;
  position: static ;
}

@media only screen and (min-width: 992px) {
         .right-side-panel {
           position: sticky;
           height: 100vh;
           overflow-y: auto;
           top: 0;
         }
     }


.in-login {
  color: white;
  text-align: center;
  font-size: 48px;
  margin-left: 50%;
}

* {
//  border: solid red 1px;
}

.disabled{
  color: gray !important;
}

nav {
  height: 10vh;
  position: -webkit-sticky;
  position: sticky !important;
  z-index: 2000;
  top: 0;
  overflow-y: auto;
  min-height: 50px;
  background-color: $color-secondary;
  color: $color-text;
  .menu-bar{
    height: 70%;
  }
  .superior {
    background-color: $color-primary;
    padding: 1px;
  }
  .icon {
    font-size: 2.5rem;
    transition: 0.1s;
    &:hover{
      transform: scale(2.0);
      transition: 0.2s;
    }
  }
}

.inside-footer, .inside-header {
  background-color: $color-secondary;
}

i {
  color:whitesmoke;
  text-align: center;
  width: 100%;
  height: 100%;
}

.background-photo {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(asset_path('happy-people-background.jpg')) ;
  background-repeat: no-repeat;
  width:100%;
  height: 100vh !important;
  background-size: 100%;
}

.sticky-form {
    position: sticky;
    top:0;
    background-color: whitesmoke;
    z-index: 1040;
}

.accent-button{
  background-color: $color-accent ;
  text-align: center;
  border-radius: 50px;
  color: whitesmoke;
  min-height: 32px;
  margin: auto;
  font-weight: bold;
  border: solid $color-accent-border 5px;
  transition: 0.2s;
  &:hover{
    background-color: $color-hover;
    transition: 0.2s;
    text-decoration: none;
    color: $color-accent-border;
    border: solid $color-hover 5px;
    transform: scale(1.2);
  }
}

.file-button{
  background-color: whitesmoke ;
  border-radius: 50px;
  color: whitesmoke;
  width: 60%;
  min-height: 32px;
  height: 10%;
  margin: auto;
  font-weight: bold;
  border: solid $color-accent-border   5px;
}

.link_style {
  color:$color-text;
  text-decoration: none;
  &:hover{
    color:$color-text;
    text-decoration: none;
  }
}

.link_style_hover {
  transition: 0.2s;
  &:hover{
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    transition:0.2s;
  }
}

.fancy-text {
  font-weight: bolder;
  font-size: 16px;
  transition: 0.1s;
  cursor: pointer;
  margin-right: auto;
  margin-top:auto;
  font-family: 'Montserrat', sans-serif;
  &:hover{
    font-size: 26px;
    transition: 0.3s;
  }
}

.nice-text{

  font-size:24px;
  color:whitesmoke;
  font-family: 'Muli', sans-serif;
}

.user-text{
  color: grey;
  font-size: 12px;
}

.in-index {
  font-size: 36px;
  margin: 5px 0;
  transition:0.2s;
  text-align: center;
  padding:3px;
  &:hover {
    border-radius: 10px;
    background-color: whitesmoke;
    color:black;
    transition: 0.2s;
  }
}

.error-text {
  color: rgb(255,210,210);
}

.inside {
  color: rgb(21,21,21);
  font-size: 28px;
}

.circular-landscape-small {
  display: inline-block;
  position: relative;
  width: 75px !important;
  height: 75px !important;
  overflow: hidden;
  border-radius: 50%;
    img {
      width: auto;
      height: 100%;
    }
}

.circular-landscape {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
    img {
      width: auto;
      height: 100%;
    }
}

.circular-landscape-big {
  display: block;
  position: relative ;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 50%;
    img {
      width: auto;
      height: 100%;
    }
}
.form-style {
  border-radius: 10px;
  background-color: whitesmoke;
  color: $color-accent-border;
  border: solid $color-accent-border 2px;
  padding: 3px;
}

.opinion-title {
  font-weight: bolder;
  font-size: 24px;
  border-radius: 10px;
  color: $color-text;
  background-color: $color-primary;
}

.container-background{
  background-color: $color-primary ;
  border: solid white 5px;
  border-radius: 10px;
  margin-top: 5%;
  color: $color-text ;
  box-shadow: 0px 0px 5px 5px rgba(21,21,56,1);
  min-width: 310px !important;
}

.partial-background {
  background-color: whitesmoke ;
  border-radius: 2px;
}

.opinion-box{
  background-color: $color-text;
  color: $color-accent-border;
  border-radius: 10px;
  border: solid $color-secondary 2px;
  max-width: 80%;
}

h4 {
  font-family: 'Muli', sans-serif;
}

.credits {
  color:$color-accent-border;
  background-color: $color-hover ;
  border-radius: 50%;
}

.author-name {
  color: $color-secondary;
  font-style: italic;
  font-weight: bolder;
}

@media only screen and (min-width: 992px) {
         nav {
           height: 100vh;
         }
     }

footer {
  height: 10vh;
  min-height: 50px;
  width: 100%;
  position:fixed;
  background-color: $color-primary;
  bottom: 0;
  div {
    width: 80%;
    color: white;
    text-align: center;
    font-size: 2.0rem;
  }
}

@media only screen and (max-width: 768px) {
        footer div {
          font-size: 3.0rem;
        }
     }
